body{
		    background-color: greenyellow; /* Цвет фона веб-страницы Tomato */
		    width:400px;
		    margin: 0 auto;
		   	} 
p{font-size:22px; color:blue;}
 
H1{color:red}
H2{color:Tomato;}
H3{color:green;}